<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">Bikes</ui:define>

	<ui:define name="content">

		<h:form>

			<h:dataTable value="#{bikeDao.all}" var="bike">
				<h:column>
					<f:facet name="header">ID</f:facet>
					#{bike.id}
				</h:column>
				<h:column>
					<f:facet name="header">Produktname</f:facet>
					#{bike.name}
				</h:column>
				<h:column>
					<f:facet name="header">Preis</f:facet>
					#{bike.price}
				</h:column>
				<h:column>
					<f:facet name="header">Marke</f:facet>
					#{bike.brand}
				</h:column>
				<h:column>
					<h:commandButton action="#{editBikeBean.edit(bike)}"
						value="Edit Bike" rendered="#{securityBean.isUserInRole('admin')}" />
					<h:commandButton action="#{shoppingCartBean.addToCart(bike)}"
						value="Add to Cart"
						rendered="#{securityBean.isUserInRole('customer')}" />
				</h:column>
			</h:dataTable>

			<h:commandButton action="#{editBikeBean.newBike()}"
				value="Add new Bike"
				rendered="#{securityBean.isUserInRole('admin')}" />
		</h:form>

	</ui:define>

</ui:composition>

</html>
