<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">Checkout</ui:define>

	<ui:define name="content">

		<h:form>

			<h:dataTable value="#{shoppingCartDao.shoppingCartByUserID}"
				var="shoppingcart">
				<h:column>
					<f:facet name="header">id</f:facet>
					#{shoppingcart.id}
				</h:column>
				<h:column>
					<f:facet name="header">Produktname</f:facet>
					#{shoppingcart.name}
				</h:column>
				<h:column>
					<f:facet name="header">Preis</f:facet>
					#{shoppingcart.price}
				</h:column>
				<h:column>
					<f:facet name="header">Marke</f:facet>
					#{shoppingcart.brand}
				</h:column>
			</h:dataTable>
			<label>Sum: #{shoppingCartBean.cartValue}</label>
		</h:form>
		<h1>Complete your Order!</h1>
		<h:form>
			<h:panelGrid>
				<h:outputLabel value="Name" />
				<h:inputText value="#{inputName}" label="Name">
				</h:inputText>
				<h:outputLabel value="Email" />
				<h:inputText value="#{inputEmail}" label="Email adress">
				</h:inputText>
				<hr />
				<h:outputLabel value="Country" />
				<h:inputText value="#{inputCountry}" label="Country">
				</h:inputText>
				<h:outputLabel value="Town" />
				<h:inputText value="#{inputUser}" label="Town">
				</h:inputText>
				<h:outputLabel value="Postcode/ZIP" />
				<h:inputText value="#{inputUser}" label="Postcode/ZIP">
				</h:inputText>
				<h:outputLabel value="No./Street" />
				<h:inputText value="#{inputNoStreet}" label="No./Street">
				</h:inputText>
			</h:panelGrid>

			<h:commandButton action="home" value="Cancel order" immediate="true" />
			<h:button outcome="/pages/completeorder.xhtml" value="Order" />
		</h:form>


	</ui:define>

</ui:composition>

</html>
