<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">#{msgs['index.header']}</ui:define>

	<ui:define name="content">

		<h1>Your order was successful!</h1>

	</ui:define>
</ui:composition>

</html>
