<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">Register</ui:define>

	<ui:define name="content">

		<h:form>
			<h:panelGrid>
				<h:inputText value="#{inputUser}" label="Username">
					<f:validateLength minimum="3" maximum="20" />
				</h:inputText>

				<h:inputSecret value="#{inputPassword}" label="Password">
					<f:validateLength minimum="3" maximum="20" />
				</h:inputSecret>

				<h:commandButton action="home" value="Cancel" immediate="true" />
				<h:commandButton
					action="#{manageuser.addUser(inputUser,inputPassword)}"
					value="Create New User" />
			</h:panelGrid>
		</h:form>

	</ui:define>

</ui:composition>

</html>
