<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">Shopping Cart</ui:define>

	<ui:define name="content">

		<h:form>

			<h:dataTable value="#{shoppingCartDao.shoppingCartByUserID}"
				var="shoppingcart">
				<h:column>
					<f:facet name="header">id</f:facet>
						#{shoppingcart.id}
					</h:column>
				<h:column>
					<f:facet name="header">Produktname</f:facet>
						#{shoppingcart.name}
					</h:column>
				<h:column>
					<f:facet name="header">Preis</f:facet>
						#{shoppingcart.price}
					</h:column>
				<h:column>
					<f:facet name="header">Marke</f:facet>
						#{shoppingcart.brand}
					</h:column>
				<h:column>
					<h:commandButton
						action="#{shoppingCartBean.deleteShoppingCart(shoppingcart)}"
						value="Delete from Cart"
						rendered="#{securityBean.isUserInRole('customer')}" />
				</h:column>
			</h:dataTable>

			<label>Sum: #{shoppingCartBean.cartValue}</label>
		</h:form>

		<h:button outcome="/pages/checkout.xhtml" value="Proceed to checkout" />

	</ui:define>

</ui:composition>

</html>
