<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title><ui:insert name="title">#{msgs['default.title']}</ui:insert></title>
	<!-- <link href="#{request.contextPath}/templates/basic.css" rel="stylesheet" type="text/css"/> -->
	<h:outputStylesheet name="basic.css" library="default" />
</h:head>

<h:body>
	<div id="container">
		<div id="header">
			<div style="font-size: 30px; width: 100%">
				<ui:insert name="header">#{msgs['default.header']}</ui:insert>
			</div>
			<div style="text-align: right;"></div>
		</div>
		<div id="menu">
			<ui:include src="/templates/nav.xhtml" />
		</div>
		<div id="content">
			<ui:insert name="footer">You are logged in as #{securityBean.loginName} (#{securityBean.user.name})</ui:insert>
			<ui:insert name="content">#{msgs['default.content']}</ui:insert>
		</div>

		<div
			style="position: absolute; top: 1%; text-align: center; width: 99%;"
			id="footer"></div>
	</div>
	<ui:debug hotkey="x" />
</h:body>

</html>
