<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>

	<div>
		<h:form>
			<p:menubar>
				<p:menuitem value="Home" url="/pages/index.xhtml" immediate="true" />

				<p:menuitem value="Bikes" url="/pages/bikes.xhtml" immediate="true" />

				<p:menuitem value="User List" url="/pages/admin/userlist.xhtml"
					rendered="#{securityBean.isUserInRole('admin')}" />

				<p:menuitem value="Shopping Cart" url="/pages/shoppingcart.xhtml"
					rendered="#{securityBean.isUserInRole('customer')}" />

				<p:submenu label="REST" rendered="#{securityBean.authenticated}">
					<p:menuitem value="Create demo bike"
						url="/rest/bike/createdemodata" />
					<p:menuitem value="Get all bikes as JSON" url="/rest/bike/alljson" />
				</p:submenu>

				<p:menuitem value="Login" action="#{securityBean.login()}"
					rendered="#{not securityBean.authenticated}" />

				<p:menuitem value="Register" url="/pages/register.xhtml"
					rendered="#{not securityBean.authenticated}" />

				<p:menuitem value="Logout" action="#{securityBean.logout()}"
					ajax="false" rendered="#{securityBean.authenticated}" />


			</p:menubar>
		</h:form>
	</div>

</ui:composition>

</html>
