<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">User List</ui:define>

	<ui:define name="header">User List</ui:define>

	<ui:define name="content">

		<h:dataTable styleClass="borderedTable" value="#{appUserDao.all}"
			var="user">
			<h:column>
				<f:facet name="header">Login</f:facet>
		  		#{user.loginId}
		  	</h:column>
			<h:column>
				<f:facet name="header">Name</f:facet>
		  		#{user.name}
		  	</h:column>
			<h:column>
				<f:facet name="header">Roles</f:facet>
		  		#{user.roles}
		  	</h:column>
		</h:dataTable>


	</ui:define>

</ui:composition>

</html>
