<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">Login successful</ui:define>

	<ui:define name="header">Login successful</ui:define>

	<ui:define name="content">
		<p>Login was successful as user #{securityBean.loginName} (#{securityBean.user.name})</p>
	</ui:define>

</ui:composition>

</html>
