<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/basic.xhtml">

	<ui:define name="title">#{msgs['index.title']}</ui:define>

	<ui:define name="header">Edit Bike</ui:define>

	<ui:define name="content">

		<h:form>

			<h:panelGrid>
				<h:outputLabel value="Name" />
				<h:inputText value="#{editBikeBean.bike.name}" label="Name" />
				<h:outputLabel value="Price" />
				<h:inputText value="#{editBikeBean.bike.price}" label="Price">
					<f:validateLongRange maximum="10000" minimum="0" />
				</h:inputText>
				<h:outputLabel value="Marke" />
				<h:inputText value="#{editBikeBean.bike.brand}" label="Name" />
				<h:messages />
				<h:commandButton action="home" value="Cancel" immediate="true" />
				<h:commandButton action="#{editBikeBean.save()}" value="Save" />
			</h:panelGrid>

		</h:form>

	</ui:define>

</ui:composition>

</html>
